
    $ff-headings: 'Sacramento', cursive;
    $ff-primary: sans-serif;

    $fw-reg: 300;
    $fw-bold: 900;

    $clr-light: #fff;
    $clr-dark: #262c3c;
    $clr-accent: #d8baba;

    $fs-h1: 6rem;
    $fs-h2: 2.5rem;
    $fs-h2-2: 4.50rem;
    $fs-h3: 1.80rem;
    $fs-body: 1.3rem;  

    $bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
         0.125em 0.125em 0.25em rgba(0,0,0,.15);

    $bs-2: 0.25em -0.25em 0.75em rgba(0,0,0,.25),
         0.125em -0.125em 0.25em rgba(0,0,0,.15);


